El balance de tu cuenta es: 

<form method='post' action='/depositar'>
 <p> Monto: <input type="text"  name="Monto"> </p>
    <input type='submit' value='depositar'>
    <form method='post' action='/retirar'>
        <input type='submit' value='retirar'>
    </form>
</form>